<h1>Show</h1>
<h2><%= @post.title %></h2>
<p><small>Written by <%= @post.author %></small></p>
<p>
  <%= @post.body %>
</p>

<hr>

<%= link_to "Edit", edit_blog_post_path(@post), :class => "btn btn-default" %>
<%= link_to "Delete", blog_post_path(@post),
            method: :delete,
            data: { confirm: "Are you sure?"},
            :class => "btn btn-danger" %>
<%= link_to @post.status, toggle_status_blog_post_path(@post), :class => "btn btn-warning" %>

<hr>

<%= render "blog/comments/comments" %>

<hr>

<%= render "blog/comments/comments_form" %>