<%= form_for(@portfolio_item) do |f| %>
  <% if @portfolio_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portfolio_item.errors.count, "error") %> prevented this Portfolio item to be created:</h2>
      <ul>
        <% @portfolio_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %> <br>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :body %> <br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <ul>
      <%= f.fields_for :technologies do |tech_f| %>
        <li><%= tech_f.label :name %></li>
        <li><%= tech_f.text_field :name %></li>
    <% end %>
    </ul>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>