<div class="container">

  <h1 class="text-center">Apps</h1>

  <div class="apps">
    <div class="row">
      <div class="app col-md-4 col-xs-12">
        <a href="">
          <figure>
            <img src="http://via.placeholder.com/950x450" alt="">
            <figcaption><%= link_to "Blog", posts_path %></figcaption>
          </figure>
        </a>
      </div>
      <div class="app col-md-4 col-xs-12">
        <a href="">
          <figure>
            <img src="http://via.placeholder.com/950x450" alt="">
            <figcaption><%= link_to "Portfolios", portfolios_path %></figcaption>
          </figure>
        </a>
      </div>
      <div class="app col-md-4 col-xs-12">
        <a href="">
          <figure>
            <img src="http://via.placeholder.com/950x450" alt="">
            <figcaption><%= link_to "Project #3", posts_path %></figcaption>
          </figure>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="app col-md-4 col-xs-12">
        <a href="">
          <figure>
            <img src="http://via.placeholder.com/950x450" alt="">
            <figcaption><%= link_to "Project #4", posts_path %></figcaption>
          </figure>
        </a>
      </div>
      <div class="app col-md-4 col-xs-12">
        <a href="">
          <figure>
            <img src="http://via.placeholder.com/950x450" alt="">
            <figcaption><%= link_to "Project #5", posts_path %></figcaption>
          </figure>
        </a>
      </div>
      <div class="app col-md-4 col-xs-12">
        <a href="">
          <figure>
            <img src="http://via.placeholder.com/950x450" alt="">
            <figcaption><%= link_to "Project #6", posts_path %></figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>