<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>">
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%# TODO: put current_user checking inside of a helper method cuz this is a bad practice to have this in the view %>
    <% if current_user.is_a?(User) %>
      <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
    <% else %>
      <p><%= link_to "Login", new_user_session_path %></p>
      <p><%= link_to "Register", new_user_registration_path %></p>
    <% end %>

    <%= yield %>
    
    <%# TODO: Why is this showing up in templates even if "session[:source]" is not provided in the url??" %>
    <% if session[:source] %>
      <p>Thanks for visiting from <%= session[:source] %></p>
    <% end %>

  </body>

</html>
