<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>">
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'blog/posts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "shared/navigation" %>

    <%= yield %>
    
    <footer>
    </footer>

    <%# TODO: Why is this showing up in templates even if "session[:source]" is not provided in the url??" %>
    <% if session[:source] %>
      <p>Thanks for visiting from <%= session[:source] %></p>
    <% end %>

  </body>

</html>
